//Base-Settings

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-size: 16px;
  font-family: 'Raleway', ;
  font-weight: 100;
  font-style: italic;
  color: #222;
}

a {
  text-decoration: none;
  color: #222;
}

ul, li{
  text-emphasis: none;
  text-decoration: none;
  list-style: none;
}

//***********

.App {
  width: 100%;
  display: flex;
}

.Anime {
  width: 50%;
  flex: 1;
}

.Velo {
  width: 50%;
  flex: 1;
}

.header {
  position: relative;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 100%;
}

.menuButton {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  cursor: pointer;
  text-align: right;
  top: 10px;
  right: 0;
  .menuButton-string {
    display: inline-block;
    &--close{
      opacity: 0;
    }
  }
}

.menu {
  overflow-y: auto;
  position: relative;
  z-index: 10000;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #ddd;
  padding: 80px 20px;
  font-size: 20px;
}

.menu-content {
  opacity: 0;
  margin-left: 200px;
}

.menu-content-item {
  margin-bottom: 20px;
};

.js-inactive {
  display: none;
}